
<%- include('header_links') -%>
<meta name="keywords" content="quotes, Generator, app">
<meta name="description" content="Discover inspirational and motivational quotes which may help us to see life in positive way when we need it most.">
<link rel="stylesheet" href="css/quotes_gen.css">

<title>❝ Quotes Generator App ❞</title>
</head>
  <body>
    <%- include('preloader'); -%>
    <%- include('navbar2'); -%>

    <div class="hero min-h-screen bg-cover" id="quotes_bg">
      <div class="hero-overlay" ></div>
      <div class="text-center hero-content text-neutral-content">
        <div class="max-w-md " id="quoteblock">
          <h1 class="mb-5 text-4xl text-white font-bold px-4 pt-8 font-sans" id="quotes">

          </h1>
          <p class="mb-5 text-xl font-semibold font-serif" id="author">

          </p>
          <button class="btn btn-primary mb-4 text-2xl font-bold px-8 " id="submit_btn"> Next </button>
        </div>
      </div>
    </div>


    <%- include('footer'); -%>
    <%- include('script_links'); -%>
    <script src="js/preloader.js" charset="utf-8"></script>
    <script src="js/quotes_gen.js" charset="utf-8"></script>

  </body>
</html>


<!-- budhha bg :-background: url('https://s-media-cache-ak0.pinimg.com/originals/7b/94/c4/7b94c49841cfa11e8935cd835b591245.jpg'); -->
<!-- beach wallpapercave :-url("https://fthmb.tqn.com/nTLfbUWDBoBKoXX-MwstgmSqNO8=/768x0/filters:no_upscale()/ewallpapers-free-wallpaper-5919d1015f9b58f4c046ae13.jpg") -->
<!-- sunset :- url(http://wallpapercave.com/wp/XPk5ZJw.jpg) -->
<!-- Dear:- https://iso.500px.com/wp-content/uploads/2016/03/stock-photo-142984111-1500x1000.jpg -->
