

    <%- include('header_links') -%>
    <meta name="keywords" content="To-Do List, node.js, mongodb, html, css">
    <meta name="description" content="To-Do List developed using node.js and mongodb.">
    <link rel="stylesheet" href="css/todo_list_mongo2.css">
    

    <title>📋 Todo App 🖋️</title>
  </head>
  <body>
    <%- include('preloader'); -%>
    <%- include('navbar2'); -%>

    <div class="hero min-h-screen " id="todo_section">
      <div class="text-center hero-content " id="taskApp">
        <div class="max-w-md">
          <h1 class="mb-5 text-3xl font-bold">
                📋 Todo App 🖋️
              </h1>
          <div class="mb-5 h-auto max-h-min w-auto max-w-max p-4" id="new_task">
              <!-- <h2 class='text-center text-2xl font-bold pb-2'>Add New Task</h2> -->
              <div class="form-control">
                <div class="flex space-x-2">
                  <form class="" action="/todo_list" method="post">
                    <input type="text" name="newItem" id="listitem" placeholder=" Add New Item" autocomplete="off"
                           class="w-full input input-primary input-bordered text-xl font-bold">
                    <button class="btn mt-4 font-bold text-xl" id="add" type="submit">Add</button>
                  </form>
                </div>
              </div>
          </div>

          <div class="overflow-x-auto text-xl font-bold h-52 max-h-min" id="">
            <table class="table w-full table-compact" id="table_box">
              <thead>
                <tr class="font-bold text-xl">
                  <%//th>Done</th%>
                  <th class="text-center"> Task</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody id="">
                <% for (var i = 0; i < newListItem.length; i++){ %>
                  <form  action="/taskdelete" method="post">
                    <tr class="hover">
                       <td>
                          <div class="">
                              <div class="flex items-center space-x-24 font-bold text-xl" id="todo_new_item">
                                <input type="checkbox" name="task_checkbox_name"
                                       value="<%= newListItem[i]._id %>" id="task_checkbox_id"
                                       <%//onChange="this.form.submit()" %>
                                       class="checkbox checkbox-primary checkbox-md">
                                <p><%= newListItem[i].name %></p>
                              </div>
                          </div>
                      </td>
                      <td>
                        <button type="submit" name="delete_btn_name" value="<%= newListItem[i]._id %>"
                                id="delete_btn_id" class="btn btn-ghost ">
                          <i class="ri-delete-bin-5-line font-bold text-xl"></i>
                        </button>
                      </td>
                     </tr>
                    </form>
                  <%}%>

              </tbody>
            </table>
          </div>


        </div>
      </div>
    </div>

    <%- include('footer'); -%>
    <%- include('script_links'); -%>
    <script src="js/preloader.js" charset="utf-8"></script>
    <script src="js/todo_list_mongo2.js" charset="utf-8"></script>
  </body>
</html>
